.card{
    margin:40px;
    max-width: 30vw;
    position: relative;
    justify-items: center;
    
}
.card-header{
    background-color: rgb(111, 130, 131);
    color: papayawhip;
}
.parent{
    display: flex;
    max-inline-size: max-content;
    
}
.label-right{
    float: right;
    height: inherit;
    max-width:100%;
}
button{
    width: inherit;
}