<h1>cards</h1>
<div class="container">

  <div class="card text-center border border-4 border-primary bg-secondary text-light px-3 ">
    <div class="card-header">
      main card
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col mb-5">
          <div class="card px-4 py-4 bg-dark text-light">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnLh7d0k4_xBkK41WZXm8gI5VdDP97ldzDIg&usqp=CAU"
              class="card-img-top" alt="...">
            <div class=" card-img-overlay align-items-lg-center d-flex justify-content-start">
              <div class="one">
                <h5 class="card-title p-3">Card title 1</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card px-4 py-4 bg-info text-light">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXmqPxmgIIeIO5g4pHbvm1EXPX-yqN1GIArQ&usqp=CAU"
              class="card-img-top" alt="...">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <div class="two">
                <h5 class="card-title ">Card title 2</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card px-4 py-4 bg-info">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnLh7d0k4_xBkK41WZXm8gI5VdDP97ldzDIg&usqp=CAU"
              class="card-img-top" alt="...">
            <div class="card-img-overlay d-flex align-items-end flex-column-reverse">
              <!--  -->
              <!-- justify-content-end flex-row align-items-end -->
              <div class="three ">
                <h5 class="card-title m-auto p-2">Card title 3</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col ">
          <div class="card px-4 py-4 bg-dark">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnLh7d0k4_xBkK41WZXm8gI5VdDP97ldzDIg&usqp=CAU"
              class="card-img-top" alt="...">
            <div class="card-img-overlay align-content-center card-img-overlay d-flex flex-lg-wrap justify-content-md-end">
              <div class="four ">
                <h5 class="card-title p-3 ">Card title 4</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

  </div>



  <div class="container mt-4 d-flex p-2 bd-highlight">
    <div class="card text-center border border-4 border-primary bg-secondary text-light ">
      <div class="card-header">
        main card
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6 mb-4">
            <div class="card border border-4 border-primary bg-secondary text-light ">
              <div class="card-header">
                main card
              </div>
              <div class="card-body d-flex justify-content-start">
                <h5 class="card-title">Card title 1</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card  border border-4 border-primary bg-secondary text-light ">
              <div class="card-header">
                main card
              </div>
              <div class="card-body  ">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6  mb-4">
            <div class="card  border border-4 border-primary bg-secondary text-light ">
              <div class="card-header">
                main card
              </div>
              <div class="card-body d-flex justify-content-end px-0 py-0 align-self-end">
                <h5 class="card-title">Card title 3</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>

              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card  border border-4 border-primary bg-secondary text-light ">
              <div class="card-header">
                main card
              </div>
              <div class="card-body d-flex">
                <h5 class="card-title">Card title 4</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text align-items-end">Some quick example text to build on the card title and make up the
                  bulk of the card's content.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

