<h1>ngStyle</h1>


  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">srno</th>
        <th scope="col">UserID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
    
      <tr *ngFor="let employee of employees;let i = index" >
        <td>{{i}}</td>
        <td  [ngStyle]="{'color':employee.userId%2==0?'blue':'orange'}">{{employee.userId}}</td>
        <td [ngStyle]="{'color':employee.userId%2==0?'blue':'orange'}">{{employee.name}}</td>
        <td [ngStyle]="{'color':employee.userId%2==0?'blue':'orange'}">{{employee.Age}}</td>
      
      </tr>
    </tbody>
  </table>
  
